@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@400&display=swap");

:root {
  --color-hover-fuente: #4e7f7d;
}
/*colors #051e3e • #251e3e • #451e3e • #651e3e • #851e3e*/
/*colors 2.0 #23313d  #4e7f7d  #cbffd8 */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: url("Img/gamer.jpg");
  background-attachment: fixed;
  background-size: cover;
}

/* Header Y nav bar */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0rem 10rem;
}

#logo {
  font-family: "Lobster", sans-serif;
  font-weight: lighter;
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

#logo:hover {
  color: var(--color-hover-fuente);
  transition: 300ms;
}

header nav ul {
  display: flex;
  list-style: none;
}

header nav ul li {
  padding-left: 8rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  display: inline-block;
}

header nav ul li a:hover {
  color: var(--color-hover-fuente);
  transition: 300ms;
}

header nav ul li a::after {
  content: "";
  width: 0px;
  height: 1px;
  display: block;
  background: var(--color-hover-fuente);
  transition: 300ms;
}

header nav ul li a:hover::after {
  width: 100%;
}

/*NAV BURGER STYLE*/

.checkbtn {
  font-size: 30px;
  color: black;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* CONTENIDO */

.content {
  position: relative;
  top: 8rem;
  height: 400px;
  margin-bottom: 12px;
  font-size: 2rem;
}

.games {
  display: flex;
  height: 400px;
  flex-direction: column;
  align-items: center;
}

.games h1 {
  position: absolute;
  top: -6rem;
  color: white;
}

.games p {
  position: absolute;
  top: 37rem;
  color: #4e7f7d;
}

.games a {
  color: white;
  text-decoration: none;
}

.games a:hover {
  color: var(--color-hover-fuente);
  transition: 300ms;
}

/*RESPONSIVE*/

@media screen and (max-width: 1350px) {
  body {
    background-position: center center;
  }

  .checkbtn {
    color: white;
    display: flex;
  }

  .checkbtn:hover {
    color: #4e7f7d;
  }

  header nav ul {
    position: fixed;
    display: block;
    width: 90%;
    height: 100vh;
    background-color: rgba(12, 13, 20, 0.99);
    z-index: 10;
    top: 80px;
    right: -100%;
    text-align: center;
    transition: all 0.5s;
    border-radius: 1%;
  }

  header nav ul li {
    display: block;
    padding: 0;
    margin-top: 10px;
  }

  header nav ul li a {
    padding: 10px;
  }

  #check:checked ~ ul {
    right: 0;
  }

  .games {
    display: flex;
    height: 10rem;
  }
  .games p {
    top: 27rem;
  }
}
